<section id="about-us">
  <div class="about-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>ماموریت ما</h1>
          <p dir="rtl">ما همانیم که به شما توسعه اپ ها و وب سایت های مدرن را آموزش می دهیم.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="who-we-are">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>درباره ما</h1>
          <p dir="rtl">توسعه اپلیکیشن های موبایل وارد فاز جدیدی شده اند و این روزهای ابزارها و فریمورک های جدید جای ابزارهای قدیمی تر را گرفته اند.  روبی آن ریلز فریمورک جدیدی است که این روزها استفاده از آن در توسعه سایت های مختلف، افزایش یافته است. غول های بزرگ و معروف ایر-بی-ان-بی و توئیر از این فریمورک برای   توسعه سایت های خود استفاده کرده اند. شرکت های بزرگ طراحی سایت ها و وب اپلیکیشن ها در حال مهاجرت به سمت روبی آن ریلز هستند. تمام این اتفاقات بدلیل ویژگی های منحصر بفرد روبی  است. و اما این ویژگی ها چه هستند:
          </p>
          <ol dir='rtl'>
            <li> روبی یک زبان برنامه نویسی جدید و دینامیک است.</li>
            <li> یادگیری آن آسان است.</li>
            <li> روبی شی گراست و از مفاهیم شی گرایی به طور کامل پشتیبانی می کند.</li>
          </ol>
          <p dir="rtl">
            از خصوصیات روبی که بگذریم، ریلز یک فریمورک مبتنی بر روبی است. این فریمورک با روبی توسعه داده شده است و مملو از کتابخانه ها و توابع مفید برای توسعه وب اپلیکیشن ها می باشد.
            از بحث وب سایت ها که بگذریم، آی او اس این روزها سردم دار بلامنازع دنیای عظیم تلفن های هوشمند است. روزانه هزاران اپلیکیشن آی او اس تولید و در اپ استور منتشر می یابد و میلیون ها از آن توسط کاربران در سراسر دنیا دانلود شده و بر روی ابزارهای اپل نصب می شوند. می بینید؟!<br> بازاری بزرگ، بدون مرز و با میلیون ها مشتری.
            احتمالا از جمله اشخاصی هستید که ایده های زیادی برای شروع استارت آپ خود در ذهن دارید. وب سایت، وب اپلیکیشن و یا اپلیکیشن موبایل.
            این سایت تمام آن چیزی است که شما نیاز دارید.
            با آموزش های ما می توانید به صورت قدم به قدم با اصول برنامه نویسی و طراحی اپلیکیشن های آی او اس و وب اپلیکیشن ها آشنا شوید.
            این سایت به صورت تخصصی بر روی ایجاد محتوا در خصوص این دو مورد فعالیت می کند و امیدوار است با ایجاد مقالات و ویدئوهای آموزشی به شما عزیزان یاری برساند.
            یادگیری در زمینه توسعه وب سایت ها و اپلیکیشن های موبایل دو تخصص بسیار مهم این روزهای بازار کار است که مطمئنا در آینده بر تقاضای استخدام متخصصان آنها افزوده خواهد شد.
            امید داریم با ارائه آموزش های مفید و بروز، نیاز شما علاقه مندان به منابع متفرقه را کمتر نموده و شما را به سمت یادگیری هدفمند سوق بدهیم.
          <p>با تشکر</p>
          <p><%#= link_to (image_tag("logo.png")), root_path, class:'about-logo' %></p>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="apply-now">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" dir="rtl">
          <h1>به ما بپیوندید</h1>
          <p>ما آموزش ها را به صورت هفتگی و ماهانه بروز می کنیم. آموزش ها به صورت مجزا در دو بخش <strong>Ruby on Rails</strong> و <strong>iOS</strong> می باشند. از مقالات و ویدئوهای آموزشی ما استفاده کنید و به سرعت یاد بگیرید. </p>
          <div align="center">
            <%#= link_to 'همین الان ثبت نام کنید', new_user_registration_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>