# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c2036b8e0e2f517dce1633a5ffc29e6598ddee0cdec4039e20edc0a046c9dd98d408b1dd8386de1a0a76b2f8b0f72c4b012e77f4f8ae87322cbf9dc613b91eec

test:
  secret_key_base: c058811a2ea2fce0dd720e10979d0cdcd4ab6d41590625b0cdfddaa06ecb2e3cb8e3164662fdfb1c5707be607c2c6640072210618c7f645b4856909cad22c439

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
